/*Fondo*/
body{
    margin:0;
    font-family: 'Arial', sans-serif;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    background: linear-gradient(135deg, #ff758c, #ff7eb3);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color:white;
    text-align:center;
}

@keyframes gradient{
    0%{background-position:0% 50%;}
    50%{background-position:100% 50%;}
    100%{background-position:0% 50%;}
}

h1{
    font-size:2.5em;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    margin-bottom: 15px;
}

p{
    font-size:1.2em;
    max-width:300px;
    margin-bottom:30px;
    text-shadow: 1px 1px 6px rgba(0,0,0,0.3);
}

/*Botones*/
button{
    padding:15px 30px;
    font-size:1.2em;
    border:none;
    border-radius:40px;
    cursor:pointer;
    margin:10px;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

#si{
    background:white;
    color:#ff4e50;
    font-weight:bold;
}

#no{
    background:#444;
    color:white;
    font-weight:bold;
}

button:hover{
    transform: scale(1.15) rotate(-2deg);
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}

/*Corazones*/
.heart{
    position:absolute;
    font-size:22px;
    animation: explode 1s ease-out forwards;
    pointer-events:none;
}

@keyframes explode{
    0%{opacity:1; transform:translate(0,0) scale(1);}
    100%{opacity:0; transform:translate(var(--x), var(--y)) scale(2.5) rotate(20deg);}
}

/*tarjeta  */
.overlay{
    position:fixed;
    top:0; left:0;
    width:100%; height:100%;
    background: rgba(0,0,0,0.6);
    opacity:0; visibility:hidden;
    transition:0.4s;
}

.overlay.active{
    opacity:1; visibility:visible;
}

.card{
    position:fixed;
    top:50%; left:50%;
    transform: translate(-50%, -50%) scale(0);
    background: rgba(255,255,255,0.95);
    color:#ff4e50;
    padding:40px;
    border-radius:30px;
    text-align:center;
    width:80%; max-width:350px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.3);
    transition:0.5s;
}

.card.active{
    transform: translate(-50%, -50%) scale(1);
}

.card h2{
    font-size:2em;
    margin-bottom:15px;
}

.card p{
    font-size:1.1em;
    line-height:1.5;
}
img{
    max-width: 250px;
    height: auto;
    margin-bottom: 20px;
}